* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #d9e2ec;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.click-btn {
  padding: 0.75em 0.75em;
  margin: 0.75em 0.75em;
  border: none;
  border-radius: 4px;
  background-color: #1fae94;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}

.click-btn:hover {
  background-color: #179b84;
}

.pointer {
  width: 4em;
  height: 4em;
  object-fit: cover;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
}

.modal {
  position: relative;
  background-color: #1fae94;
  width: 50vw;
  height: 50vh;
  border-radius: 4px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.modal-content {
  text-align: center;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 5rem;
}

.close-btn {
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  border-radius: 50%;
  background-color: #9fb3c8;
  padding: 0.8em 0.8em;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

.close-btn:hover {
  background-color: #179b84;
  border-color: #0f7665;
}

.modal-open .modal-overlay {
  opacity: 1;
  z-index: 1;
}
